                                  
h1,h2,h3,h4,h5,h6{
 color:green;
 border:1px solid red;

 border-bottom: 4px dotted blue;

}
body{
	background-color: black;
}
.brain{

	float: right;
	height: 150px;
}
.violet{
	color:purple;
}
.orange{
	color:orange;
}
li{
	color:orange;
}
.notes{
  color:lime;
  padding-bottom: 10px;

}
a{
	color:yellowgreen;
}

